<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.springboot.mapper.first.FirstStudentMapper">
    <resultMap id="BaseResultMap" type="com.test.springboot.bean.Student">
        <result column="id" property="id"/>
        <result column="s_no" property="sno"/>
        <result column="s_name" property="name"/>
        <result column="s_sex" property="sex"/>
    </resultMap>
    <select id="getFirstStudentById" resultType="com.test.springboot.bean.Student" resultMap="BaseResultMap">
        SELECT *
        FROM `student`
        WHERE `id` = #{id}
    </select>


</mapper>